/* Write your CSS here */
.matchCard-bg li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  background-color: #0f172a;
  color: #ffffff;
  height: 400px;
  width: 300px;
  border-width: 0 px;
}
.fontRed {
  color: #e31a1a;
}
.fontGreen {
  color: #18ed66;
}
